@model IEnumerable<SkillShare.Models.Person>

@{
    ViewBag.Title = "Contact";
}

<div class="row">
    @foreach (var item in ViewBag.p)
    {
    <div class="col-md-4">
        @item.FirstName
        @item.SecondName
        @item.Email
        @item.TeamId
    </div>
    }


</div>